// Specific CSS for your home-page
.biggy-small{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 80px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),
                  rgba(102, 9, 71, 0.9)),
                    url("https://i.ibb.co/BZBqVTY/background-biggy.jpg");
                    background-position: center;
                    background-size: cover;
                    background-attachment: fixed;
}
section{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section h1 {
  flex-wrap: wrap;
  font-size: 200%;

}

.login-btn {
  margin: 32px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: 700;
  text-shadow: 5px 5px 20px  rgb(229, 250, 243) ;
  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
}

.signup-btn {
  font-size: 120%;
  text-align: left;
  color: white;
  text-shadow: 5px 5px 20px  rgb(229, 250, 243) ;
  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
}

.logged-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.index-btn {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px #FF79CD;
  border: ridge;
  border-width: 4px;
  border-color: rgba(138, 34, 120, 0.5);
  border-radius: 8px;
  margin-top: 64px;
  width: 75%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0px 1px 5px rgb(192, 16, 133);
  font-family: 'Quicksand', sans-serif;
  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  h3 {
    margin: 0;
  }
}

.fa-power-off {
  margin-left: 15px;
  font-size: 30px;
  color: white;
  text-shadow: 0px 1px 4px rgb(192, 16, 133);
}

.sign-out {
  margin-top: 44px;
  display: flex;

  h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 0px 1px 4px rgb(192, 16, 133);
    margin-left: 8px;
    margin-bottom: 0;
  }
  a {
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: none;
      color: rgba(158, 24, 24, 0.7);
    }
  }
}
