<div class="footer">
  <div class="footer-home-btn">
    <%= link_to "/" do %>
      <i class="fas fa-list-ul"></i>
    <% end %>
  </div>
  <div class="foot-item btn" id="footer-btn-instru" data-token="<%= form_authenticity_token %>">
    <div id="waveform-micro"></div>
    <i class="fas fa-record-vinyl" id="rec-btn"></i>
  </div>
  <div class="foot-item btn" id="footeraddbtn">
  <i class="fas fa-microphone-alt pj-add"></i>
  </div>

</div>
