<div class="footer">
  <div class="foot-item btn" id="projectsbtn" aria-labelledby="footerDropdown">
    <%= link_to  projects_path do %>
      <%= icon('fab', 'product-hunt') %>
    <% end %>
  </div>
  <div class="foot-item btn" id= "footerbtn">
    <%= icon('fas', 'record-vinyl') %>
  </div>
  <div class="foot-item dropdown" id="footeraddbtn">
    <%= icon('fas', 'plus-circle') %>
  </div>
</div>
