<div class="biggy-container">
  <% if user_signed_in? %>
    <div class="logged-btn">
      <%= link_to projects_path, class: "index-btn" do %>
        <h3>My projects</h3>
      <% end %>
      <%= link_to projects_path, class: "index-btn" do %>
        <h3>Another btn</h3>
      <% end %>
    </div>
    <div class="sign-out">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-power-off"></i><h2>Sign out</h2>
      <% end %>
    </div>
  <% else %>
    <section>
      <home-form action="sign in">
        <label for="">Sign In</label>
        <input type="email" class="user" placeholder="Email address">
        <div class="password">
          <input type="text" class="user" placeholder="Password">
          <p>Forgot your Password?</p>
        </div>
        <h2><%= link_to "Log in", new_user_session_path %></h2>
      </home-form>
      <a class="home-btn" href="#">or <strong>Sign Up</strong></a>
    </section>
  <% end %>
</div>
