<div class="biggy-container">
  <% if user_signed_in? %>
    <div class="logged-btn">
      <%= link_to projects_path, class: "index-btn" do %>
        <h3>My projects</h3>
      <% end %>
      <%= link_to projects_path, class: "index-btn" do %>
        <h3>Another btn</h3>
      <% end %>
    </div>
    <div class="sign-out">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-power-off"></i><h2>Sign out</h2>
      <% end %>
    </div>
  <% else %>
    <section>
      <h1>Salam mes kheys bienvenue sur rec it BIG</h1>
      <%= link_to "LOG IN", new_user_session_path, class: "login-btn"%>
      <a class="signup-btn" href="/users/sign_up">or <strong>Sign Up</strong></a>
    </section>
  <% end %>
</div>
