<div class="project_container">
    <div class="project_banner">
        <h2><%= @project.title %></h2>
    </div>
    <div class="project_body">
        <div class="voice_records">
            
        </div>
        <div class="notes">

        </div>
    </div>
    <div class="project_footer">

    </div>
</div>