.biggy-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),
                  rgba(102, 9, 71, 0.9)),
                    url("https://i.ibb.co/BZBqVTY/background-biggy.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 24px 0;
  padding-bottom: 60px;
}
.pj-list{
  display: flex;
  flex-flow: row nowrap;
  height: 85px;
  width: 85%;
  margin: 24px auto;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px #FF79CD;
  border: ridge;
  border-width: 4px;
  border-color: rgba(138, 34, 120, 0.5);
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 5px rgb(192, 16, 133);
  text-decoration: none;
  padding: 7px;
}

.pj-card{
  color: white;
  width: 90%;
  text-align: center;
  text-shadow: .5px .5px 1px rgba(136, 136, 136, 0.5);
  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
}
.title_create {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.delete_edit{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 10%;
  padding-bottom: 8px;
}

.pj-list i::before{
  color: white;
  font-size: 12px;
  text-shadow: .5px .5px 1px rgba(255, 255, 255, 0.5);
}

.pj-card-title {
  font-size: x-small;
  margin: 0px;
  width: 95%;
}

.pj-card-title h3{
  text-overflow: ellipsis;
  width: 98%;
  padding-left:5px ;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Quicksand', sans-serif;
}

.pj-card-create {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#backtohome {
  color: white;
  text-shadow: 0px 1px 4px white;
  font-size: 30px;
  margin: 16px 0 12px 16px;
}


i.fas.fa-plus-circle{
  color: rgb(211, 211, 211);
  opacity: .7;
text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.modal-edit{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
width: 100vw;
height: 100vh;
background: linear-gradient(150deg, rgba(44, 44, 44, .8) 0%, rgba(46, 46, 46, .7) 35%, rgba(59, 14, 52, .5) 100%);  transition: opacity .3s ease;
}

.open-btn{
  background: none;
  border: 0;
  box-shadow: none;
}
#form-edit{
  height: 30vh;
  width: 70vw;
  background: linear-gradient(150deg, rgba(44, 44, 44, .9) 0%, rgba(46, 46, 46, .8) 35%, rgba(59, 14, 52, 0.7) 100%);
  border: outset;
  border-width: 4px;
  border-color: rgba(255, 255, 255, 0.7);
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#form-edit input{
  width: 85%;
  margin: 0 auto;
}
#form-edit label{
  background: none;
  color: white;
  padding: 0;
  margin: 15px 0;
  text-shadow:#FF79CD 1px 0 2px;
}
#form-edit .btn{
  background-color: rgba(138, 34, 121, 0.7);
  padding: 7px 25px;
  border-color: rgba(15, 15, 15, 0.7);
  width: 40%;
  border: outset;
  border-radius: 8px;
  border-width: 2px;
  color: white;
  text-shadow:#494949 1px 0 5px;
  margin-bottom: 8px;
}
.edit_go-back{
  position: absolute;
  margin: 0;
  top: 0px;
  left: 17px;
}
.edit_go-back i#backtohome.fas.fa-arrow-left{
  margin: 0;
}