.biggy-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),
                  rgba(102, 9, 71, 0.9)),
                    url("https://i.ibb.co/BZBqVTY/background-biggy.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  min-height: 100vh;
}

.pj-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pj-card {
  height: 85px;
  max-width: 350px;
  margin: 8px auto;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(83, 34, 59, 0.836);
  border: ridge;
  border-width: 4px;
  border-color: rgba(138, 34, 120, 0.5);
  border-radius: 8px;
}

.pj-card-title {
  font-size: x-small;
  padding: 4px;
  margin: 0px;
}

.pj-card-title h3{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Quicksand', sans-serif;
}

.pj-card-create {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-top: 4px;
}
