.project_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: rgb(41, 41, 41);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.title-box h2 {
  font-size: 150%;
  padding-bottom: 16px;
  color: white;
}

.project_banner{
    width: 100%;
    height: 22vh;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    justify-content: space space-around;
    align-items: center;
    color: #ECE9E6;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.backtoprojectarrow {
  color: #167FFB;
    text-decoration: none;
    background-color: transparent;
    position: absolute;
    left: -10px;
    top: -10px;
}

#backtoprojects {
  color: white;
  text-shadow: 0px 1px 4px white;
  font-size: 24px;
  margin: 16px 0 12px 16px;
}

.pjbanner{
    width: 100%;
    height: 7vh;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    justify-content: center;
    align-items: center;
    color: #33c6f4;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);

}
.project-title {
  display: flex;
  justify-content: center;
}
.project_banner h2{
    font-size: 1.5rem ;
    padding-left: 80px;
}

$wave_width: 75px;
.instrumental{
    width: $wave_width;
    margin: 25px 5px 10px 10px;
    height: 78vh;

}

 #waveform {
    display: flex;
    height: calc(100% - #{$wave_width});
    margin-top: 10px;
    border-radius: 50% 50% 0 0;

}
#waveform canvas{
    width: 500px;
}
.pj-body {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.textarea {
  width: 75%;
  height: 91.5%;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.3);
  margin: 10px 10px 10px 5px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

#notes {
  height: 100%;
  width: 100%;
  resize: none;
  color: white;
  border-radius: 8px;
  background-color: rgba(0,0,0,.4);
  margin: 0;
}

.test {
  background-color: black;
}

.voice-record {
  display: flex;
}

.wavebody{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.3);
    height: 100%;
    border-radius: 37.5px 37.5px 5px 5px;
}
.lecture{
    width: 100%;
    position: relative;

}
.wave_btn{
border: 0;
height: $wave_width;
width: $wave_width;
}
.wave_stop{
    border: 0;
    height: 25px;
    width: 25px;
    z-index: 5;
    }
.lecture input {
    position: relative;
}
.lecture .fas.fa-stop::before {
    font-size: 12px;
}
.lecture .button_pp {
    border-radius: 50%;
    font-size: 24px;
    background-image: linear-gradient(to right, #a5a5a5 0%, #ffffff  31%,#ffffff  71%, #a5a5a5  100%);
    border: 0;
    box-shadow: 0 0 10px rgb(77, 77, 77);
}

.lecture .btn_stop {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-image: linear-gradient(to right, #a5a5a5 0%, #ffffff  31%,#ffffff  71%, #a5a5a5  100%);
    box-shadow: 0 0 10px rgb(77, 77, 77);
    position: absolute;
    top: -15px;
    right: -3px;
    border: 0;
}


.form-group {
  margin-bottom: 4px;
}

.new_note {
  height: 85%;
}

#notes:focus {
  box-shadow: 0 0px 10px rgba(138, 34, 120, 0.5);
  border-color: rgba(138, 34, 120, 0.5);
}
