.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(145, 143, 143, .4), rgba(73, 73, 73, .4));
background-position: center;
background-size: cover;
background-attachment: fixed;;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  height: 60px;
  padding: 15px;
  color: rgba(0,0,0,0.3);
  bottom: 0;
  position: fixed;
  width: 100%;
}
#projectsbtn{
  width: 50px;
  height: 50px;

}
#projectsbtn svg{
  font-size: 38px;
  color: rgb(0, 0, 0);
}
#footerbtn {
  width: 50px;
  height: 50px;
}
#footerbtn svg{
  font-size: 40px;
}
#footeraddbtn{
  width: 50px;
  height: 50px;
}
#footeraddbtn svg{
  color: black;
  font-size: 40px;
  margin-top: 5px;
}

#waveform-micro {
  position: absolute;
  width: 50px;
  height: 10px;
  bottom: 150px;
}
