.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 10px 10px;
  color: rgba(0,0,0,0.3);
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footerDropdown {
  width: 70px;
}
#footerbtn {
  width: 120px;
}
#footeraddbtn {
  width: 60px;
}
