.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(94, 94, 94, 0.8), rgba(32, 32, 32, 1));
  box-shadow: 0 -1px 2px rgba(0, 0, 0,0.6);
  background-attachment: fixed;
  height: 60px;
  padding: 15px;
  bottom: 0;
  position: fixed;
  width: 100%;
}
#projectsbtn{
  width: 50px;
  height: 50px;

}
#projectsbtn svg{
  font-size: 38px;
  color: rgb(255, 255, 255);
}
#footerbtn {
  width: 50px;
  height: 50px;
}
#footerbtn svg{
  font-size: 40px;
  color: white;
}

#footeraddbtn svg{
  color: white;
  font-size: 40px;
  margin-top: 5px;
}
#waveform-micro {
  position: absolute;
  width: 50px;
  height: 10px;
  bottom: 130px;
  font-size: 150px;
}

.fa-record-vinyl {
  color: rgba(138, 34, 120, 0.9);
  font-size: 50px;
}

.fa-list-ul {
  color: rgba(138, 34, 120, 0.9);
  font-size: 50px;
}

.pj-add {
  color: rgba(138, 34, 120, 0.9) !important;
  font-size: 50px;
  opacity: 0.92;
}

.btn {
  padding: 0;
}
