.vr-index {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  border: solid;
  width: 75%;
  height:79.5vh;
  border-color:rgba(59, 14, 52,.9) ;
  background-color: #ececec;
  border-width: 2px;
  border-radius: 8px;
  bottom: 90px;
  z-index: 10;
  right: -350px;
  transition: all 0.6s ease-in-out;
}

.vr-card {
  height: 84px;
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  background: linear-gradient(150deg, rgba(44, 44, 44, .9) 0%, rgba(46, 46, 46, .8) 35%, rgba(59, 14, 52, 0.7) 100%);
  box-shadow: 0 0 4px #FF79CD;
  border: ridge;
  border-color: rgba(36, 36, 36,.7);
  border-width: 4px;
  text-decoration: none;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 5px rgb(192, 16, 133);
}

.vr-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.vr-title h4{
  margin: 0;
}
.vr-title p {
  margin: 0;
}
.switch-rail {
  border: solid;
  border-width: 1px;
  background-color: rgb(202, 202, 202);
}
